<div class="external-links">
  <a class="nav-link active" target="_blank" href="https://www.soundcloud.com/giselle-martel"><img src="../../assets/soundcloud.png"
      alt="soundcloud"></a>
  <a class="nav-link active" target="_blank" href="https://www.github.com/gisellemartel"><img src="../../assets/github.png"
      alt="github"></a>
  <a class="nav-link active" target="_blank" href="https://www.linkedin.com/in/gisellemartel"><img src="../../assets/linkedin.png"
      alt="linkedin"></a>
</div>