.external-links
    text-align: center
    font-weight: lighter
    font-size: 15px

li > a:hover 
    color: black

li > a:active
    color: #911cbc

li > a
    color: inherit

.nav-link > a
    max-width: 60px

.nav-link img
    max-width: 60px