.home-content 
    text-align: center
    padding-bottom: 50px

    h1
        padding-top: 25px
        font-size: 75px
        font-family: 'Poiret One'

    h3
        font-size: 20px
        font-weight: lighter
        margin-top: -17px
        margin-left: 9em

    img 
        border-radius: 300px
        border-width: 1px
        width: 300px
        height: 300px
        margin-top: 40px
        object-fit: cover