.main-navbar
    text-align: center
    height: 200px

    a
        text-decoration: none
        color: black
    
    a:hover 
        color: #911cbc

    a:active
        color: #911cbc

    h1
        padding-top: 25px
        font-size: 75px
        font-family: 'Poiret One'

    h3
        font-size: 20px
        font-weight: lighter
        margin-top: -17px
        margin-left: 9em
.nav
    float: right
    position: relative
    top: 50px
    right: 25px

    li 
    font-size: 18px;
    font-weight: lighter
    max-width: 198spx

    li > a:hover 
        color: black

    li > a:active
        color: #911cbc

    li > a
        color: inherit
