<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Software Dev</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Music & Sound Design</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome</h1>
    </div>
  </div>
</div>